aiocache
apscheduler
ballpark @ git+https://github.com/Mee6/python-ballpark.git
chat-exporter
disnake
disnake-ext-fluent @ git+https://github.com/MagicTheDev/disnake-ext-fluent.git
dnspython
emoji
expiring-dict
fastapi
fluent-runtime
hashids
imagehash
ipython
kaleido
loguru
matplotlib
meilisearch-python-sdk
motor
msgspec
numerize
numpy
openai
openpyxl
orjson
pandas
pendulum
plotly
pymitter
pymongo
python-dateutil
python-dotenv
python-snappy
pytz
redis
requests>=2.32.5
sentry-sdk
aiohttp
stringcase
ujson
uvicorn
wand
websockets
xlsxwriter
